@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

html {
    /* Theme 1 */
    /* Background */
    --main-background-1: hsl(222, 26%, 31%);
    --toggle-keypad-background-1: hsl(223, 31%, 20%);
    --screen-background-1: hsl(224, 36%, 15%);
    /* Keys */
    --key-background-1: hsl(225, 21%, 49%);
    --key-shadow-1: hsl(224, 28%, 35%);
    --key-background-toggle-1: hsl(6, 63%, 50%);
    --key-shadow-toggle-1: hsl(6, 70%, 34%);
    --key-background-1: hsl(30, 25%, 89%);
    --key-shadow-1: hsl(28, 16%, 65%);
    /* Text */
    --dark-text-1: hsl(221, 14%, 31%);
    --white-text-1: hsl(0, 0, 100%);
    /* Theme 2 */
    /* Background */
    --main-background-2: hsl(0, 0%, 90%);
    --toggle-keypad-background-2: hsl(0, 5%, 81%);
    --screen-background-2: hsl(0, 0%, 93%);
    /* Keys */
    --key-background-2: hsl(185, 42%, 37%);
    --key-shadow-2: hsl(185, 58%, 25%);
    --key-background-toggle-2: hsl(25, 98%, 40%);
    --key-shadow-toggle-2: hsl(25, 99%, 27%);
    --key-background-2: hsl(45, 7%, 89%);
    --key-shadow-2: hsl(35, 11%, 61%);
    /* Text */
    --dark-text-2: hsl(60, 10%, 19%);
    --white-text-2: hsl(0, 0, 100%);
    /* Theme 3 */
    /* Background */
    --main-background-3: hsl(268, 75%, 9%);
    --toggle-keypad-background-3: hsl(268, 71%, 12%);
    --screen-background-3: hsl(268, 71%, 12%);
    /* Keys */
    --key-background-3: hsl(281, 89%, 26%);
    --key-shadow-3: hsl(285, 91%, 52%);
    --key-background-toggle-3: hsl(176, 100%, 44%);
    --key-shadow-toggle-3: hsl(177, 92%, 70%);
    --key-background-3: hsl(268, 47%, 21%);
    --key-shadow-3: hsl(290, 70%, 36%);
    /* Text */
    --yellow-text-3: hsl(52, 100%, 62%);
    --dark-text-3: hsl(198, 20%, 13%);
    --white-text-3: hsl(0, 0, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background-1);
    color: white;
    font-family: 'Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1rem;
}
/* general button styling */
button {
    font-size: 1.2rem;
    transition: all 50ms ease-in-out;
}

button:not(.switch-btn) {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 1.1rem 0.25rem;
}

button:hover,
.result-screen:hover {
    outline: 2px solid var(--key-shadow-1);
}

.active {
    outline: 2px solid var(--key-shadow-toggle-2);
}
/* header & theme switch */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: min(90%, 375px);
    gap: 10rem;
    transition: all 400ms ease-in-out;
}

.title {
    font-size: 1.4rem;
}

.switch-container {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.theme {
    height: .95rem;
    font-size: .7rem;
}

.numbers {
    display: flex;
    justify-content: space-around;
    font-size: .7rem;
}

.numbers span {
    font-size: .6rem;
    font-weight: 700;
}

.switch-btn {
    background-color: var(--toggle-keypad-background-1);
    display: flex;
    align-items: center;
    border: none;
    width: 3.1rem;
    height: 1.2rem;
    padding: 5%;
    margin-top: 4px;
    border-radius: 10px;
}

.switch-btn span {
    position: relative;
    cursor: pointer;
}

.switch {
    background-color: var(--key-background-toggle-1);
    display: block;
    position: absolute;
    height: 90%;
    width: 30%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
/* input buttons */
.number,
.operator,
.decimal {
    background-color: var(--key-background-2);
    color: var(--dark-text-1);
    box-shadow: 0 4px 0 var(--key-shadow-2);
    width: 70px;
    height: 50px;
}

.del,
.reset {
    background-color: hsl(225, 21%, 49%);
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 0 hsl(224, 28%, 35%);
    height: 50px;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.del {
    width: 70px;
}

.equal {
    background-color: var(--key-background-toggle-1);
    color: rgb(255, 255, 255);
    box-shadow: 0 3px 0 var(--key-shadow-toggle-1);
    height: 50px;
    font-size: 1.25rem;
    letter-spacing: 2px;
}
/* result container */
.result-container {
    height: 5.3rem;
    margin-bottom: 1rem;
}
  
.result-screen {
    background-color: var(--screen-background-1);
    color: var(--white-text-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0rem 2rem;
    font-size: 2rem;
    border-radius: 10px;
}
/* input container */  


.attribution {
    color: black;
    text-align: center;
    font-size: 11px;
    }
    .attribution a {
        color: hsl(5, 70%, 26%);
}